/* Large desktops and laptops */
@media (min-width: 1200px) {
	#oplz-main-content-container .oplz-splash-left-number{
		border-width:  2px;
		border-radius: 45px;
		font-size: 32px;
		height: 60px;
		width: 60px;
	}

	#oplz-main-content-container .oplz-main-event-speaker-user-container{
		width: 120px;
		height: 120px;
	}
}