<div class="navbar navbar-inverse navbar-fixed-top oplz-splash-navbar" role="navigation">
	<div class="container oplz-splash-navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand oplz-splash-navbar-header" href="#!splash"><span style="color:white;font-weight:bold;">ONTRA</span><span style="color: deepskyblue;font-weight:bold;">PALOOZA!</span></a>
		</div>
		<form class="hide navbar-form navbar-right" role="form" id="opz-login-form" onsubmit="window.login(this); return false;">
			<div class="form-group">
				<input type="text" placeholder="Email" class="form-control" id="opz-login-username">
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" class="form-control" id="opz-login-password">
			</div>
			<button type="submit" class="btn btn-success" id="opz-login-submit">Sign in</button>
		</form>
		<div class="opz-welcome-container hide">
			<span class="opz-welcome-text">Welcome:</span> <span class="opz-welcome-username">User</span>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5">
			<div class="oplz-splash-option-container pull-right">
				<div class="oplz-splash-option-tile-icon schedule"></div>
				<div class="oplz-splash-option-tile-name">schedule</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="oplz-splash-option-container">
				<div class="oplz-splash-option-tile-icon my-schedule"></div>
				<div class="oplz-splash-option-tile-name">my schedule</div>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="oplz-splash-option-container pull-left">
				<div class="oplz-splash-option-tile-icon my-profile"></div>
				<div class="oplz-splash-option-tile-name">my profile</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5">
			<div class="oplz-splash-option-container pull-right">
				<div class="oplz-splash-option-tile-icon speakers"></div>
				<div class="oplz-splash-option-tile-name">speakers</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="oplz-splash-option-container">
				<div class="oplz-splash-option-tile-icon attendies"></div>
				<div class="oplz-splash-option-tile-name">attendies</div>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="oplz-splash-option-container pull-left">
				<div class="oplz-splash-option-tile-icon workshops"></div>
				<div class="oplz-splash-option-tile-name">workshops</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5">
			<div class="oplz-splash-option-container pull-right">
				<div class="oplz-splash-option-tile-icon around-town"></div>
				<div class="oplz-splash-option-tile-name">around town</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="oplz-splash-option-container">
				<div class="oplz-splash-option-tile-icon social"></div>
				<div class="oplz-splash-option-tile-name">social</div>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="oplz-splash-option-container pull-left">
				<div class="oplz-splash-option-tile-icon sponsers"></div>
				<div class="oplz-splash-option-tile-name">sponsers</div>
			</div>
		</div>
	</div>
</div>