<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand pull-left" href="#"><span style="color: white;font-weight:bold;">ONTRA</span><span style="color: deepskyblue;font-weight:bold;">PALOOZA</span></a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#!myschedule">my schedule</a></li>
				<li class="active"><a href="#myschedule">schedule</a></li>
				<li><a href="#contact">speakers</a></li>
				<li><a href="#contact">attendees</a></li>
				<li><a href="#contact">around town</a></li>
        <li><a href="#contact">social</a></li>
        <li><a href="#contact">my profile</a></li>

        <li class="pull-right"><a href="#contact">logout</a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">my palooza <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu"> 
            <form class="navbar-form" role="form" id="opz-login-form" onsubmit="window.oplz.common.login(this); return false;">
  						<li class="dropdown-header">scroll down see more...</li>
  						<li>
								<input type="text" placeholder="Email" class="form-control" id="opz-login-username">
              </li>
              <li>
								<input type="password" placeholder="Password" class="form-control" id="opz-login-password">
  						</li>
              <li class="divider"></li>
              <li>
                <button type="submit" class="btn btn-success" id="opz-login-submit">Sign in</button>
              </li>
            </form>
          </ul>

          <ul class="hide">
            <li>
              <div class="opz-welcome-container pull-right hide">
                <span class="opz-welcome-text">Welcome:</span> <span class="opz-welcome-username">User</span>
              </div>
            </li>
          </ul>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="container-fluid" id="oplz-myschedule-content-container">

  <div class="jumbotron row">


    <div class="col-xs-5">
      <div class="container-fluid">

        <strong>schedule</strong>

        <div class="row oplz-myschedule-schedule-tab-content" data-tabKey="wednesday"></div>
        <div class="row oplz-myschedule-schedule-tab-content" data-tabKey="thursday"></div>
        <div class="row oplz-myschedule-schedule-tab-content" data-tabKey="friday"></div>
      </div>
    </div>


    <div class="col-xs-5">
      <div class="container-fluid">

          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-1"><a href="http://ontrapalooza2014a.sched.org/print">p</a></div>
              <div class="col-xs-1"><a href="">m</a></div>
              <div class="col-xs-1"><a href="">t</a></div>
              <div class="col-xs-1"><a href="">f</a></div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-4"><input placeholder="Schedule or people"/></div>
              <div class="col-xs-4"><button>Search</button></div>
            </div>
          </div>

          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">

                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="oplz-mini-menu-selected-title"></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" class="oplz-myschedule-mini-menu-option" data-eventDay="wednesday"><a role="menuitem" tabindex="-1">Wednesday, Oct 09</a></li>
                    <li role="presentation" class="oplz-myschedule-mini-menu-option" data-eventDay="thursday"><a role="menuitem" tabindex="-1">Thursday, Oct 10</a></li>
                    <li role="presentation" class="oplz-myschedule-mini-menu-option" data-eventDay="friday"><a role="menuitem" tabindex="-1">Friday, Oct 11</a></li>
                  </ul>
                </div>

                <div class="oplz-myschedule-mini-menu-sub-options-container"></div>

              </div>
            </div>
          </div>

        <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">Recently Active Speakers</div>
            </div>

            <div class="row oplz-myschedule-recent-speakers-container">
              
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{template id="recentSpeaker"}}
  <div class="oplz-myschedule-recent-speaker" data-userID="{{id}}">{{name}}</div>
{{/template}}

{{template id="miniMenuSubOptionsContainer"}}
  <div class="oplz-myschedule-mini-menu-sub-options hide" data-subType="{{type}}">
    {{content}}
  </div>
{{/template}}

{{template id="miniMenuSubOption"}}
  <div class="oplz-myschedule-mini-menu-sub-option" data-option="{{key}}">{{name}}</div>
{{/template}}

{{template id="eventTypeContainer"}}
<div class="row oplz-myschedule-schedule-tab-type-content">
  <strong>{{date}}</strong>
  {{content}}
</div>
{{/template}}

{{template id="scheduleTimeSlot"}}
<div class="row oplz-myschedule-event-row-container">
    <div class="col-xs-2">{{time}}</div>
    <div class="col-xs-5">{{events}}</div>
</div>
{{/template}}

{{template id="scheduleTimeSlotEventContainer"}}
<div class="oplz-myschedule-timeslot-event" data-eventKey="{{key}}">
  {{name}}
</div>
{{/template}}

{{template id="speakersUserContainer"}}
  <div class="oplz-myschedule-event-speaker-user-container" style="background-image: url('{{avatar_uri}}');" data-speakerID="{{id}}" alt="{{name}}" title="{{name}}"></div>
{{/template}}